<!DOCTYPE html>
<html>
<head>
  <title>Recipefinder - Find yours today!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<h1>RecipeFinder</h1>
	</header>

	<%= yield %>

	<footer class="footer">
		<p>Powered By Food2Fork.com</p>
	</footer>

</body>
</html>
